ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    float:right;
}
/* ul li:after{
    content:"|";
    float:right;
} */
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}